In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os

from config import g_key

gmaps.configure(api_key=g_key)

In [2]:
city_df = pd.read_csv("city_weather.csv")
city_df.head()

,City,Lat,Lon,Temp Max,Humidity,Cloudiness,Wind Speed,Country,Date
0,Kamenka,51.3223,42.7678,265.93,78,100,6.81,RU,1613202119
1,L체deritz,-26.6481,15.1594,291.96,83,99,3.46,NaN,1613201782
2,Rikitea,-23.1203,-134.9692,299.40,77,40,4.87,PF,1613201753
3,Srandakan,-7.9386,110.2506,301.68,74,100,4.41,ID,1613202120
4,Tut처ia,-2.7619,-42.2744,298.50,89,96,3.65,BR,1613202120

In [3]:
locations = city_df[['Lat','Lon']]
weights = city_df['Humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))