In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os

from config import g_key

gmaps.configure(api_key=g_key)

In [8]:
city_df = pd.read_csv("city_weather.csv")
city_df

,City,Lat,Lon,Temp Max,Humidity,Cloudiness,Wind Speed,Country,Date
0,Kamenka,51.3223,42.7678,265.93,78,100,6.81,RU,1613202119
1,Lüderitz,-26.6481,15.1594,291.96,83,99,3.46,NaN,1613201782
2,Rikitea,-23.1203,-134.9692,299.40,77,40,4.87,PF,1613201753
3,Srandakan,-7.9386,110.2506,301.68,74,100,4.41,ID,1613202120
4,Tutóia,-2.7619,-42.2744,298.50,89,96,3.65,BR,1613202120
...,...,...,...,...,...,...,...,...,...
568,Meadow Lake,34.8014,-106.5436,276.15,65,20,3.60,US,1613201835
569,Zemio,5.0314,25.1361,306.79,16,78,2.28,CF,1613201762
570,Barra do Bugres,-15.0725,-57.1811,294.52,97,100,1.22,BR,1613202219
571,General Roca,-39.0333,-67.5833,294.15,64,0,3.59,AR,1613202219
572,Ostrovnoy,68.0531,39.5131,255.33,91,100,3.13,RU,1613201772

In [7]:
locations = city_df[['Lat','Lon']]
weights = city_df['Humidity']
fig = gmaps.figure(map_type='SATELLITE')
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights, point_radius=8))
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
paradise_df = city_df[(city_df.Cloudiness <= 10) & (city_df['Wind Speed'] <= 6) & (city_df['Temp Max'] >= 250) & (city_df['Temp Max'] <= 300)]
paradise_df

,City,Lat,Lon,Temp Max,Humidity,Cloudiness,Wind Speed,Country,Date
9,New Norfolk,-42.7826,147.0587,292.59,41,5,1.79,AU,1613201758
16,Barra de Tecoanapa,16.5167,-98.7500,294.36,90,4,2.39,MX,1613202122
22,Creel,27.7500,-107.6333,274.96,95,0,4.46,MX,1613202123
26,Manaure,11.7751,-72.4445,297.76,80,6,5.39,CO,1613202124
29,Damietta,31.4165,31.8133,290.15,72,0,2.57,EG,1613202124
...,...,...,...,...,...,...,...,...,...
552,Anchorage,61.2181,-149.9003,262.59,72,1,1.11,US,1613202190
557,College,64.8569,-147.8028,257.04,77,1,1.20,US,1613201671
559,Camacha,33.0833,-16.3333,286.15,82,0,1.03,PT,1613202217
560,Machiques,10.0644,-72.5450,296.90,68,1,0.86,VE,1613202217
571,General Roca,-39.0333,-67.5833,294.15,64,0,3.59,AR,1613202219

In [20]:
locations = paradise_df[['Lat','Lon']]
weights = paradise_df['Humidity']
fig = gmaps.figure(map_type='SATELLITE')
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights, point_radius=8))
fig

Figure(layout=FigureLayout(height='420px'))