## Libraries used for the project

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import csv
from scipy.stats import linregress

from config import weather_api_key

from citipy import citipy

output_data_file = "output_data/cities.csv"

lat_range = (-90, 90)

lng_range = (-180, 180)

## code to get a list of cities

In [2]:
lat_lngs = []
cities = []

lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    if city not in cities:
        cities.append(city)
        
len(cities)

572

## Use of API to get data for each city

In [3]:
url = "http://api.openweathermap.org/data/2.5/weather?"
resp_json = []

In [4]:
for x in range(len(cities)):
    print(f"Processing Record {x} of Set 1 - {cities[x]}")
    
    post_record = requests.get(url + "q=" + cities[x] + "&appid=" + weather_api_key)
    
    resp_json.append(post_record.json())

Processing Record 0 of Set 1 - kapaa
Processing Record 1 of Set 1 - busselton
Processing Record 2 of Set 1 - nanchong
Processing Record 3 of Set 1 - constantine
Processing Record 4 of Set 1 - jamestown
Processing Record 5 of Set 1 - hobart
Processing Record 6 of Set 1 - bur gabo
Processing Record 7 of Set 1 - shanhetun
Processing Record 8 of Set 1 - butaritari
Processing Record 9 of Set 1 - tasiilaq
Processing Record 10 of Set 1 - hilo
Processing Record 11 of Set 1 - saint-philippe
Processing Record 12 of Set 1 - cape town
Processing Record 13 of Set 1 - ramsar
Processing Record 14 of Set 1 - bluff
Processing Record 15 of Set 1 - kupang
Processing Record 16 of Set 1 - purwodadi
Processing Record 17 of Set 1 - san lorenzo
Processing Record 18 of Set 1 - ola
Processing Record 19 of Set 1 - georgetown
Processing Record 20 of Set 1 - qaanaaq
Processing Record 21 of Set 1 - luderitz
Processing Record 22 of Set 1 - terme
Processing Record 23 of Set 1 - illoqqortoormiut
Processing Record 24 of Set 1 - port-cartier
Processing Record 25 of Set 1 - piracuruca
Processing Record 26 of Set 1 - champerico
Processing Record 27 of Set 1 - mantua
Processing Record 28 of Set 1 - kununurra
Processing Record 29 of Set 1 - honiara
Processing Record 30 of Set 1 - tautira
Processing Record 31 of Set 1 - progreso
Processing Record 32 of Set 1 - yigou
Processing Record 33 of Set 1 - oranjemund
Processing Record 34 of Set 1 - yenagoa
Processing Record 35 of Set 1 - tuktoyaktuk
Processing Record 36 of Set 1 - east london
Processing Record 37 of Set 1 - punta arenas
Processing Record 38 of Set 1 - vitim
Processing Record 39 of Set 1 - santona
Processing Record 40 of Set 1 - arraial do cabo
Processing Record 41 of Set 1 - ushuaia
Processing Record 42 of Set 1 - albany
Processing Record 43 of Set 1 - barrow
Processing Record 44 of Set 1 - hasaki
Processing Record 45 of Set 1 - carmen
Processing Record 46 of Set 1 - mataura
Processing Record 47 of Set 1 - belushya guba
Processing Record 48 of Set 1 - husavik
Processing Record 49 of Set 1 - port alfred
Processing Record 50 of Set 1 - taolanaro
Processing Record 51 of Set 1 - puerto ayora
Processing Record 52 of Set 1 - castro
Processing Record 53 of Set 1 - nouadhibou
Processing Record 54 of Set 1 - nong phai
Processing Record 55 of Set 1 - zhanatas
Processing Record 56 of Set 1 - new norfolk
Processing Record 57 of Set 1 - yen bai
Processing Record 58 of Set 1 - yellowknife
Processing Record 59 of Set 1 - tuatapere
Processing Record 60 of Set 1 - dikson
Processing Record 61 of Set 1 - cabinda
Processing Record 62 of Set 1 - ponta do sol
Processing Record 63 of Set 1 - upernavik
Processing Record 64 of Set 1 - vaini
Processing Record 65 of Set 1 - vilcun
Processing Record 66 of Set 1 - pevek
Processing Record 67 of Set 1 - attawapiskat
Processing Record 68 of Set 1 - nikolskoye
Processing Record 69 of Set 1 - saint-augustin
Processing Record 70 of Set 1 - mackenzie
Processing Record 71 of Set 1 - rikitea
Processing Record 72 of Set 1 - lewistown
Processing Record 73 of Set 1 - avarua
Processing Record 74 of Set 1 - lebu
Processing Record 75 of Set 1 - saldanha
Processing Record 76 of Set 1 - hay river
Processing Record 77 of Set 1 - faanui
Processing Record 78 of Set 1 - virginia beach
Processing Record 79 of Set 1 - nevel
Processing Record 80 of Set 1 - westport
Processing Record 81 of Set 1 - visnes
Processing Record 82 of Set 1 - hofn
Processing Record 83 of Set 1 - taloqan
Processing Record 84 of Set 1 - bloemfontein
Processing Record 85 of Set 1 - chokurdakh
Processing Record 86 of Set 1 - bryant
Processing Record 87 of Set 1 - carnarvon
Processing Record 88 of Set 1 - bredasdorp
Processing Record 89 of Set 1 - pangnirtung
Processing Record 90 of Set 1 - ballarat
Processing Record 91 of Set 1 - ijaki
Processing Record 92 of Set 1 - atuona
Processing Record 93 of Set 1 - muros
Processing Record 94 of Set 1 - saint george
Processing Record 95 of Set 1 - silifke
Processing Record 96 of Set 1 - kiunga
Processing Record 97 of Set 1 - morgan city
Processing Record 98 of Set 1 - longyearbyen
Processing Record 99 of Set 1 - galiwinku
Processing Record 100 of Set 1 - okhotsk
Processing Record 101 of Set 1 - fevik
Processing Record 102 of Set 1 - kahului
Processing Record 103 of Set 1 - asau
Processing Record 104 of Set 1 - thompson
Processing Record 105 of Set 1 - bethel
Processing Record 106 of Set 1 - moindou
Processing Record 107 of Set 1 - san policarpo
Processing Record 108 of Set 1 - sinnamary
Processing Record 109 of Set 1 - samarai
Processing Record 110 of Set 1 - pervomayskoye
Processing Record 111 of Set 1 - naze
Processing Record 112 of Set 1 - ngukurr
Processing Record 113 of Set 1 - nanortalik
Processing Record 114 of Set 1 - skerries
Processing Record 115 of Set 1 - linjiang
Processing Record 116 of Set 1 - chapais
Processing Record 117 of Set 1 - berezovyy
Processing Record 118 of Set 1 - rundu
Processing Record 119 of Set 1 - denpasar
Processing Record 120 of Set 1 - araouane
Processing Record 121 of Set 1 - raudeberg
Processing Record 122 of Set 1 - kaitangata
Processing Record 123 of Set 1 - gay
Processing Record 124 of Set 1 - hermanus
Processing Record 125 of Set 1 - cherskiy
Processing Record 126 of Set 1 - nelson bay
Processing Record 127 of Set 1 - sobreira
Processing Record 128 of Set 1 - belyy yar
Processing Record 129 of Set 1 - micheweni
Processing Record 130 of Set 1 - kavieng
Processing Record 131 of Set 1 - sao filipe
Processing Record 132 of Set 1 - bengkulu
Processing Record 133 of Set 1 - mpika
Processing Record 134 of Set 1 - margate
Processing Record 135 of Set 1 - valdivia
Processing Record 136 of Set 1 - fakel
Processing Record 137 of Set 1 - hobyo
Processing Record 138 of Set 1 - buriti bravo
Processing Record 139 of Set 1 - avera
Processing Record 140 of Set 1 - san quintin
Processing Record 141 of Set 1 - tazovskiy
Processing Record 142 of Set 1 - lata
Processing Record 143 of Set 1 - lucea
Processing Record 144 of Set 1 - puerto escondido
Processing Record 145 of Set 1 - jumla
Processing Record 146 of Set 1 - charters towers
Processing Record 147 of Set 1 - esperance
Processing Record 148 of Set 1 - neiafu
Processing Record 149 of Set 1 - khorramshahr
Processing Record 150 of Set 1 - sembakung
Processing Record 151 of Set 1 - rafaela
Processing Record 152 of Set 1 - alice springs
Processing Record 153 of Set 1 - saint-francois
Processing Record 154 of Set 1 - kodiak
Processing Record 155 of Set 1 - meridian
Processing Record 156 of Set 1 - otjiwarongo
Processing Record 157 of Set 1 - general roca
Processing Record 158 of Set 1 - corner brook
Processing Record 159 of Set 1 - chuy
Processing Record 160 of Set 1 - naryan-mar
Processing Record 161 of Set 1 - saskylakh
Processing Record 162 of Set 1 - sentyabrskiy
Processing Record 163 of Set 1 - rudbar
Processing Record 164 of Set 1 - mar del plata
Processing Record 165 of Set 1 - huarmey
Processing Record 166 of Set 1 - cap-chat
Processing Record 167 of Set 1 - kovur
Processing Record 168 of Set 1 - oyama
Processing Record 169 of Set 1 - cayenne
Processing Record 170 of Set 1 - ribeira grande
Processing Record 171 of Set 1 - bathsheba
Processing Record 172 of Set 1 - valente
Processing Record 173 of Set 1 - cabo san lucas
Processing Record 174 of Set 1 - samusu
Processing Record 175 of Set 1 - sechura
Processing Record 176 of Set 1 - torbay
Processing Record 177 of Set 1 - teya
Processing Record 178 of Set 1 - mutoko
Processing Record 179 of Set 1 - bantry
Processing Record 180 of Set 1 - satitoa
Processing Record 181 of Set 1 - geraldton
Processing Record 182 of Set 1 - hurricane
Processing Record 183 of Set 1 - ancud
Processing Record 184 of Set 1 - ndele
Processing Record 185 of Set 1 - alofi
Processing Record 186 of Set 1 - mys shmidta
Processing Record 187 of Set 1 - umzimvubu
Processing Record 188 of Set 1 - vestmannaeyjar
Processing Record 189 of Set 1 - bolshaya rechka
Processing Record 190 of Set 1 - sao joao da barra
Processing Record 191 of Set 1 - olafsvik
Processing Record 192 of Set 1 - guozhen
Processing Record 193 of Set 1 - katsuura
Processing Record 194 of Set 1 - nchelenge
Processing Record 195 of Set 1 - praia
Processing Record 196 of Set 1 - do rud
Processing Record 197 of Set 1 - gat

Processing Record 198 of Set 1 - trogir
Processing Record 199 of Set 1 - charlestown
Processing Record 200 of Set 1 - ostrovnoy
Processing Record 201 of Set 1 - tiarei
Processing Record 202 of Set 1 - samalaeulu
Processing Record 203 of Set 1 - kruisfontein
Processing Record 204 of Set 1 - yulara
Processing Record 205 of Set 1 - san patricio
Processing Record 206 of Set 1 - tourlaville
Processing Record 207 of Set 1 - saleaula
Processing Record 208 of Set 1 - chinhoyi
Processing Record 209 of Set 1 - berlevag
Processing Record 210 of Set 1 - matli
Processing Record 211 of Set 1 - jiblah
Processing Record 212 of Set 1 - manzhouli
Processing Record 213 of Set 1 - sioux lookout
Processing Record 214 of Set 1 - iskateley
Processing Record 215 of Set 1 - portland
Processing Record 216 of Set 1 - hambantota
Processing Record 217 of Set 1 - yarim
Processing Record 218 of Set 1 - friesoythe
Processing Record 219 of Set 1 - yuzhou
Processing Record 220 of Set 1 - arcata
Processing Record 221 of Set 1 - bida
Processing Record 222 of Set 1 - ilulissat
Processing Record 223 of Set 1 - carutapera
Processing Record 224 of Set 1 - mitsamiouli
Processing Record 225 of Set 1 - reserva
Processing Record 226 of Set 1 - victoria
Processing Record 227 of Set 1 - russell
Processing Record 228 of Set 1 - bani
Processing Record 229 of Set 1 - ocosingo
Processing Record 230 of Set 1 - okha
Processing Record 231 of Set 1 - warqla
Processing Record 232 of Set 1 - vila franca do campo
Processing Record 233 of Set 1 - tambura
Processing Record 234 of Set 1 - baykit
Processing Record 235 of Set 1 - half moon bay
Processing Record 236 of Set 1 - palabuhanratu
Processing Record 237 of Set 1 - yerbogachen
Processing Record 238 of Set 1 - santa rosa
Processing Record 239 of Set 1 - vila
Processing Record 240 of Set 1 - yanji
Processing Record 241 of Set 1 - ixtapa
Processing Record 242 of Set 1 - laguna
Processing Record 243 of Set 1 - verkhnevilyuysk
Processing Record 244 of Set 1 - tabiauea
Processing Record 245 of Set 1 - lakes entrance
Processing Record 246 of Set 1 - north bend
Processing Record 247 of Set 1 - maniitsoq
Processing Record 248 of Set 1 - shubarshi
Processing Record 249 of Set 1 - winnemucca
Processing Record 250 of Set 1 - lapua
Processing Record 251 of Set 1 - los llanos de aridane
Processing Record 252 of Set 1 - kholmy
Processing Record 253 of Set 1 - porto velho
Processing Record 254 of Set 1 - ahipara
Processing Record 255 of Set 1 - boende
Processing Record 256 of Set 1 - maha sarakham
Processing Record 257 of Set 1 - taltal
Processing Record 258 of Set 1 - gamba
Processing Record 259 of Set 1 - manaure
Processing Record 260 of Set 1 - keti bandar
Processing Record 261 of Set 1 - asyut
Processing Record 262 of Set 1 - norman wells
Processing Record 263 of Set 1 - orkney
Processing Record 264 of Set 1 - taoudenni
Processing Record 265 of Set 1 - mogadishu
Processing Record 266 of Set 1 - bambous virieux
Processing Record 267 of Set 1 - rawson
Processing Record 268 of Set 1 - bud
Processing Record 269 of Set 1 - montepuez
Processing Record 270 of Set 1 - mwene-ditu
Processing Record 271 of Set 1 - palasa
Processing Record 272 of Set 1 - marsh harbour
Processing Record 273 of Set 1 - ahuimanu
Processing Record 274 of Set 1 - odweyne
Processing Record 275 of Set 1 - mayor pablo lagerenza
Processing Record 276 of Set 1 - trairi
Processing Record 277 of Set 1 - dubbo
Processing Record 278 of Set 1 - khatanga
Processing Record 279 of Set 1 - gizo
Processing Record 280 of Set 1 - bellinzona
Processing Record 281 of Set 1 - barentsburg
Processing Record 282 of Set 1 - verkhoyansk
Processing Record 283 of Set 1 - caravelas
Processing Record 284 of Set 1 - domna
Processing Record 285 of Set 1 - suntar
Processing Record 286 of Set 1 - nioro
Processing Record 287 of Set 1 - provideniya
Processing Record 288 of Set 1 - amderma
Processing Record 289 of Set 1 - tiksi
Processing Record 290 of Set 1 - saravena
Processing Record 291 of Set 1 - ocos
Processing Record 292 of Set 1 - sosnovo-ozerskoye
Processing Record 293 of Set 1 - labutta
Processing Record 294 of Set 1 - gornyak
Processing Record 295 of Set 1 - broken hill
Processing Record 296 of Set 1 - grand river south east
Processing Record 297 of Set 1 - alekseyevsk
Processing Record 298 of Set 1 - dawson creek
Processing Record 299 of Set 1 - wellington
Processing Record 300 of Set 1 - rapu-rapu
Processing Record 301 of Set 1 - oster
Processing Record 302 of Set 1 - abu kamal
Processing Record 303 of Set 1 - qaqortoq
Processing Record 304 of Set 1 - bilma
Processing Record 305 of Set 1 - airai
Processing Record 306 of Set 1 - maumere
Processing Record 307 of Set 1 - bandarbeyla
Processing Record 308 of Set 1 - shache
Processing Record 309 of Set 1 - yebaishou
Processing Record 310 of Set 1 - toliary
Processing Record 311 of Set 1 - arlit
Processing Record 312 of Set 1 - port elizabeth
Processing Record 313 of Set 1 - beloha
Processing Record 314 of Set 1 - casa grande
Processing Record 315 of Set 1 - bambanglipuro
Processing Record 316 of Set 1 - mbaiki
Processing Record 317 of Set 1 - puquio
Processing Record 318 of Set 1 - moerai
Processing Record 319 of Set 1 - paris
Processing Record 320 of Set 1 - magdagachi
Processing Record 321 of Set 1 - florence
Processing Record 322 of Set 1 - khilok
Processing Record 323 of Set 1 - ulundurpettai
Processing Record 324 of Set 1 - nizhneyansk
Processing Record 325 of Set 1 - fethiye
Processing Record 326 of Set 1 - ossora
Processing Record 327 of Set 1 - robore
Processing Record 328 of Set 1 - tessalit
Processing Record 329 of Set 1 - samana
Processing Record 330 of Set 1 - tsihombe
Processing Record 331 of Set 1 - hobbs
Processing Record 332 of Set 1 - leningradskiy
Processing Record 333 of Set 1 - khandyga
Processing Record 334 of Set 1 - nome
Processing Record 335 of Set 1 - sibu
Processing Record 336 of Set 1 - jacareacanga
Processing Record 337 of Set 1 - broome
Processing Record 338 of Set 1 - walvis bay
Processing Record 339 of Set 1 - summerside
Processing Record 340 of Set 1 - haines junction
Processing Record 341 of Set 1 - male
Processing Record 342 of Set 1 - karauzyak
Processing Record 343 of Set 1 - anjozorobe
Processing Record 344 of Set 1 - pandamatenga
Processing Record 345 of Set 1 - miyako
Processing Record 346 of Set 1 - nicoya
Processing Record 347 of Set 1 - killybegs
Processing Record 348 of Set 1 - hithadhoo
Processing Record 349 of Set 1 - auki
Processing Record 350 of Set 1 - juneau
Processing Record 351 of Set 1 - malakal
Processing Record 352 of Set 1 - kalmar
Processing Record 353 of Set 1 - am timan
Processing Record 354 of Set 1 - poso
Processing Record 355 of Set 1 - port macquarie
Processing Record 356 of Set 1 - abu samrah
Processing Record 357 of Set 1 - christchurch
Processing Record 358 of Set 1 - sitio novo do tocantins
Processing Record 359 of Set 1 - kazalinsk
Processing Record 360 of Set 1 - coahuayana
Processing Record 361 of Set 1 - adrar
Processing Record 362 of Set 1 - yaan
Processing Record 363 of Set 1 - port moresby
Processing Record 364 of Set 1 - san cristobal
Processing Record 365 of Set 1 - yar-sale
Processing Record 366 of Set 1 - poum
Processing Record 367 of Set 1 - pingliang
Processing Record 368 of Set 1 - lorengau
Processing Record 369 of Set 1 - peniche
Processing Record 370 of Set 1 - mahebourg
Processing Record 371 of Set 1 - prescott
Processing Record 372 of Set 1 - menongue
Processing Record 373 of Set 1 - port hedland
Processing Record 374 of Set 1 - concordia
Processing Record 375 of Set 1 - te anau
Processing Record 376 of Set 1 - soverato
Processing Record 377 of Set 1 - vestmanna
Processing Record 378 of Set 1 - zeya
Processing Record 379 of Set 1 - paamiut
Processing Record 380 of Set 1 - carballo
Processing Record 381 of Set 1 - kenai
Processing Record 382 of Set 1 - alyangula
Processing Record 383 of Set 1 - bajil
Processing Record 384 of Set 1 - talnakh
Processing Record 385 of Set 1 - tytuvenai
Processing Record 386 of Set 1 - stolbishche
Processing Record 387 of Set 1 - sindor
Processing Record 388 of Set 1 - ramos arizpe
Processing Record 389 of Set 1 - tura
Processing Record 390 of Set 1 - det udom
Processing Record 391 of Set 1 - fare

Processing Record 392 of Set 1 - fallon
Processing Record 393 of Set 1 - alamosa
Processing Record 394 of Set 1 - codrington
Processing Record 395 of Set 1 - tarudant
Processing Record 396 of Set 1 - aksu
Processing Record 397 of Set 1 - cajamarca
Processing Record 398 of Set 1 - fortuna
Processing Record 399 of Set 1 - campechuela
Processing Record 400 of Set 1 - sabang
Processing Record 401 of Set 1 - kundiawa
Processing Record 402 of Set 1 - coihaique
Processing Record 403 of Set 1 - monte san giovanni campano
Processing Record 404 of Set 1 - tawkar
Processing Record 405 of Set 1 - guerrero negro
Processing Record 406 of Set 1 - mathathane
Processing Record 407 of Set 1 - sola
Processing Record 408 of Set 1 - vengerovo
Processing Record 409 of Set 1 - matucana
Processing Record 410 of Set 1 - omsukchan
Processing Record 411 of Set 1 - falealupo
Processing Record 412 of Set 1 - wanning
Processing Record 413 of Set 1 - le port
Processing Record 414 of Set 1 - gigmoto
Processing Record 415 of Set 1 - bargal
Processing Record 416 of Set 1 - tahta
Processing Record 417 of Set 1 - blagoyevo
Processing Record 418 of Set 1 - hualmay
Processing Record 419 of Set 1 - teshie
Processing Record 420 of Set 1 - sesvete
Processing Record 421 of Set 1 - dudinka
Processing Record 422 of Set 1 - dunedin
Processing Record 423 of Set 1 - sao francisco
Processing Record 424 of Set 1 - kavaratti
Processing Record 425 of Set 1 - amahai
Processing Record 426 of Set 1 - moussoro
Processing Record 427 of Set 1 - atar
Processing Record 428 of Set 1 - namibe
Processing Record 429 of Set 1 - high level
Processing Record 430 of Set 1 - kiama
Processing Record 431 of Set 1 - gweru
Processing Record 432 of Set 1 - moron
Processing Record 433 of Set 1 - ilebo
Processing Record 434 of Set 1 - coos bay
Processing Record 435 of Set 1 - comodoro rivadavia
Processing Record 436 of Set 1 - dunda
Processing Record 437 of Set 1 - mauriti
Processing Record 438 of Set 1 - severomuysk
Processing Record 439 of Set 1 - cidreira
Processing Record 440 of Set 1 - ommen
Processing Record 441 of Set 1 - kudahuvadhoo
Processing Record 442 of Set 1 - vardo
Processing Record 443 of Set 1 - souillac
Processing Record 444 of Set 1 - brasilia
Processing Record 445 of Set 1 - shahr-e babak
Processing Record 446 of Set 1 - sorong
Processing Record 447 of Set 1 - dodge city
Processing Record 448 of Set 1 - oriximina
Processing Record 449 of Set 1 - kargasok
Processing Record 450 of Set 1 - lompoc
Processing Record 451 of Set 1 - severo-kurilsk
Processing Record 452 of Set 1 - pisco
Processing Record 453 of Set 1 - leuven
Processing Record 454 of Set 1 - klaksvik
Processing Record 455 of Set 1 - calella
Processing Record 456 of Set 1 - rio grande
Processing Record 457 of Set 1 - kaeo
Processing Record 458 of Set 1 - jaisalmer
Processing Record 459 of Set 1 - kungurtug
Processing Record 460 of Set 1 - hameenlinna
Processing Record 461 of Set 1 - nanchang
Processing Record 462 of Set 1 - tarskoye
Processing Record 463 of Set 1 - gandajika
Processing Record 464 of Set 1 - clyde river
Processing Record 465 of Set 1 - flinders
Processing Record 466 of Set 1 - boundiali
Processing Record 467 of Set 1 - agva
Processing Record 468 of Set 1 - minot
Processing Record 469 of Set 1 - karratha
Processing Record 470 of Set 1 - saint peters
Processing Record 471 of Set 1 - sao cristovao
Processing Record 472 of Set 1 - ranong
Processing Record 473 of Set 1 - cap malheureux
Processing Record 474 of Set 1 - longlac
Processing Record 475 of Set 1 - axim
Processing Record 476 of Set 1 - tadine
Processing Record 477 of Set 1 - caronport
Processing Record 478 of Set 1 - ruatoria
Processing Record 479 of Set 1 - labuhan
Processing Record 480 of Set 1 - ponta delgada
Processing Record 481 of Set 1 - lagoa
Processing Record 482 of Set 1 - amapala
Processing Record 483 of Set 1 - chulumani
Processing Record 484 of Set 1 - lotoshino
Processing Record 485 of Set 1 - huazolotitlan
Processing Record 486 of Set 1 - ormara
Processing Record 487 of Set 1 - baoding
Processing Record 488 of Set 1 - belaya gora
Processing Record 489 of Set 1 - aklavik
Processing Record 490 of Set 1 - tharad
Processing Record 491 of Set 1 - san andres
Processing Record 492 of Set 1 - korem
Processing Record 493 of Set 1 - anadyr
Processing Record 494 of Set 1 - sun valley
Processing Record 495 of Set 1 - aanekoski
Processing Record 496 of Set 1 - beaverton
Processing Record 497 of Set 1 - polunochnoye
Processing Record 498 of Set 1 - prieska
Processing Record 499 of Set 1 - tommot
Processing Record 500 of Set 1 - vaitupu
Processing Record 501 of Set 1 - nemuro
Processing Record 502 of Set 1 - jimma
Processing Record 503 of Set 1 - muyezerskiy
Processing Record 504 of Set 1 - safaga
Processing Record 505 of Set 1 - carauari
Processing Record 506 of Set 1 - mehamn
Processing Record 507 of Set 1 - garowe
Processing Record 508 of Set 1 - tarauaca
Processing Record 509 of Set 1 - banda aceh
Processing Record 510 of Set 1 - lolua
Processing Record 511 of Set 1 - qasigiannguit
Processing Record 512 of Set 1 - hailar
Processing Record 513 of Set 1 - fort nelson
Processing Record 514 of Set 1 - haimen
Processing Record 515 of Set 1 - santana do livramento
Processing Record 516 of Set 1 - nuevo progreso
Processing Record 517 of Set 1 - sistranda
Processing Record 518 of Set 1 - evensk
Processing Record 519 of Set 1 - khonuu
Processing Record 520 of Set 1 - belomorsk
Processing Record 521 of Set 1 - kieta
Processing Record 522 of Set 1 - sao gabriel da cachoeira
Processing Record 523 of Set 1 - amalapuram
Processing Record 524 of Set 1 - craigieburn
Processing Record 525 of Set 1 - vila velha
Processing Record 526 of Set 1 - nanakuli
Processing Record 527 of Set 1 - eureka
Processing Record 528 of Set 1 - nguiu
Processing Record 529 of Set 1 - coquimbo
Processing Record 530 of Set 1 - sabancuy
Processing Record 531 of Set 1 - dhidhdhoo
Processing Record 532 of Set 1 - bedesa
Processing Record 533 of Set 1 - santa cruz
Processing Record 534 of Set 1 - scalloway
Processing Record 535 of Set 1 - south lake tahoe
Processing Record 536 of Set 1 - ostersund
Processing Record 537 of Set 1 - kendari
Processing Record 538 of Set 1 - damnoen saduak
Processing Record 539 of Set 1 - pitimbu
Processing Record 540 of Set 1 - santa maria
Processing Record 541 of Set 1 - chipata
Processing Record 542 of Set 1 - yichun
Processing Record 543 of Set 1 - lethem
Processing Record 544 of Set 1 - tezu
Processing Record 545 of Set 1 - temaraia
Processing Record 546 of Set 1 - gravelbourg
Processing Record 547 of Set 1 - neyshabur
Processing Record 548 of Set 1 - northam
Processing Record 549 of Set 1 - shaoxing
Processing Record 550 of Set 1 - taksimo
Processing Record 551 of Set 1 - kerrville
Processing Record 552 of Set 1 - kabalo
Processing Record 553 of Set 1 - reconquista
Processing Record 554 of Set 1 - vostok
Processing Record 555 of Set 1 - two hills
Processing Record 556 of Set 1 - la ronge
Processing Record 557 of Set 1 - chokwe
Processing Record 558 of Set 1 - tumannyy
Processing Record 559 of Set 1 - qingyuan
Processing Record 560 of Set 1 - makakilo city
Processing Record 561 of Set 1 - ambon
Processing Record 562 of Set 1 - maningrida
Processing Record 563 of Set 1 - ogbomosho
Processing Record 564 of Set 1 - santa helena de goias
Processing Record 565 of Set 1 - porto walter
Processing Record 566 of Set 1 - turukhansk
Processing Record 567 of Set 1 - burica
Processing Record 568 of Set 1 - kenora
Processing Record 569 of Set 1 - tirumullaivasal
Processing Record 570 of Set 1 - natal
Processing Record 571 of Set 1 - monrovia

In [5]:
city = []
lat = []
lng = []
max_tmp = []
humi = []
cloud = []
wind_sp = []
country = []
date = []

url_2 = "http://api.openweathermap.org/data/2.5/weather?"
url_qry = f"{url}appid={weather_api_key}&q="

for citi in cities:
    citydata = requests.get(url_qry + citi).json()
    
    if citydata['cod'] != '404':
        city.append(citydata['name'])
        lat.append(citydata['coord']['lat'])
        lng.append(citydata['coord']['lon'])
        max_tmp.append(citydata['main']['temp_max'])
        humi.append(citydata['main']['humidity'])
        cloud.append(citydata['clouds']['all'])
        wind_sp.append(citydata['wind']['speed'])
        country.append(citydata['sys']['country'])
        date.append(citydata['dt'])

## Transform data to csv file and DataFrame

In [6]:
city_dict = {
    "City": city,
    "Lat" : lat,
    "Lon" : lng,
    "Temp Max" : max_tmp,
    "Humidity" : humi,
    "Cloudiness" : cloud,
    "Wind Speed" : wind_sp,
    "Country" : country,
    "Date" : date
}
city_weath_df = pd.DataFrame(city_dict)

In [7]:
city_weath_df.to_csv('city_weather.csv', index=False)

In [8]:
city_weath_df.head()

,City,Lat,Lon,Temp Max,Humidity,Cloudiness,Wind Speed,Country,Date
0,Kapaa,22.0752,-159.3190,296.15,64,1,2.05,US,1613195174
1,Busselton,-33.6500,115.3333,300.98,38,0,2.88,AU,1613195174
2,Nanchong,30.7951,106.0847,289.32,65,94,2.04,CN,1613195174
3,Constantine,36.3650,6.6147,284.15,71,75,5.66,DZ,1613195174
4,Jamestown,42.0970,-79.2353,263.71,79,1,3.09,US,1613195175

In [9]:
city_weath_df

,City,Lat,Lon,Temp Max,Humidity,Cloudiness,Wind Speed,Country,Date
0,Kapaa,22.0752,-159.3190,296.15,64,1,2.05,US,1613195174
1,Busselton,-33.6500,115.3333,300.98,38,0,2.88,AU,1613195174
2,Nanchong,30.7951,106.0847,289.32,65,94,2.04,CN,1613195174
3,Constantine,36.3650,6.6147,284.15,71,75,5.66,DZ,1613195174
4,Jamestown,42.0970,-79.2353,263.71,79,1,3.09,US,1613195175
...,...,...,...,...,...,...,...,...,...
521,Turukhansk,65.8167,87.9833,243.54,81,0,2.29,RU,1613195270
522,Kenora,49.8167,-94.4337,244.26,69,90,1.03,CA,1613195266
523,Tirumullaivāsal,11.2333,79.8333,299.66,65,87,3.94,IN,1613195271
524,Natal,-5.7950,-35.2094,298.15,88,20,2.57,BR,1613195060
525,Monrovia,6.3005,-10.7969,299.53,88,44,3.35,LR,1613195271

## DataFrame to show the stats of the records

In [10]:
stat_city = city_weath_df.agg({'Lat':['count','mean','std','min','max'],
                               'Lon':['count','mean','std','min','max'],
                               'Temp Max':['count','mean','std','min','max'],
                               'Humidity':['count','mean','std','min','max'],
                               'Cloudiness':['count','mean','std','min','max'],
                               'Wind Speed':['count','mean','std','min','max'],
                               'Date':['count','mean','std','min','max']})
stat_city

,Lat,Lon,Temp Max,Humidity,Cloudiness,Wind Speed,Date
count,526.000000,526.000000,526.000000,526.000000,526.000000,526.000000,5.260000e+02
mean,18.703333,14.924371,283.104810,74.077947,53.823194,3.551882,1.613195e+09
std,33.841618,92.389487,18.203395,19.780982,39.583175,2.748393,6.798963e+01
min,-54.800000,-175.200000,234.150000,12.000000,0.000000,0.150000,1.613195e+09
max,78.218600,178.416700,307.150000,100.000000,100.000000,21.490000,1.613195e+09

## Dropping cities with humidity above 100

In [11]:
out_index = city_weath_df.index[city_weath_df['Humidity'] > 100].tolist()
out_index

[]

In [12]:
new_city_df = city_weath_df.drop(out_index, inplace=False)
new_city_df

,City,Lat,Lon,Temp Max,Humidity,Cloudiness,Wind Speed,Country,Date
0,Kapaa,22.0752,-159.3190,296.15,64,1,2.05,US,1613195174
1,Busselton,-33.6500,115.3333,300.98,38,0,2.88,AU,1613195174
2,Nanchong,30.7951,106.0847,289.32,65,94,2.04,CN,1613195174
3,Constantine,36.3650,6.6147,284.15,71,75,5.66,DZ,1613195174
4,Jamestown,42.0970,-79.2353,263.71,79,1,3.09,US,1613195175
...,...,...,...,...,...,...,...,...,...
521,Turukhansk,65.8167,87.9833,243.54,81,0,2.29,RU,1613195270
522,Kenora,49.8167,-94.4337,244.26,69,90,1.03,CA,1613195266
523,Tirumullaivāsal,11.2333,79.8333,299.66,65,87,3.94,IN,1613195271
524,Natal,-5.7950,-35.2094,298.15,88,20,2.57,BR,1613195060
525,Monrovia,6.3005,-10.7969,299.53,88,44,3.35,LR,1613195271

## Stats for new DataFrame

In [13]:
stat_city = new_city_df.agg({'Lat':['count','mean','std','min','max'],
                               'Lon':['count','mean','std','min','max'],
                               'Temp Max':['count','mean','std','min','max'],
                               'Humidity':['count','mean','std','min','max'],
                               'Cloudiness':['count','mean','std','min','max'],
                               'Wind Speed':['count','mean','std','min','max'],
                               'Date':['count','mean','std','min','max']})
stat_city

,Lat,Lon,Temp Max,Humidity,Cloudiness,Wind Speed,Date
count,526.000000,526.000000,526.000000,526.000000,526.000000,526.000000,5.260000e+02
mean,18.703333,14.924371,283.104810,74.077947,53.823194,3.551882,1.613195e+09
std,33.841618,92.389487,18.203395,19.780982,39.583175,2.748393,6.798963e+01
min,-54.800000,-175.200000,234.150000,12.000000,0.000000,0.150000,1.613195e+09
max,78.218600,178.416700,307.150000,100.000000,100.000000,21.490000,1.613195e+09

In [14]:
new_city_df.head()

,City,Lat,Lon,Temp Max,Humidity,Cloudiness,Wind Speed,Country,Date
0,Kapaa,22.0752,-159.3190,296.15,64,1,2.05,US,1613195174
1,Busselton,-33.6500,115.3333,300.98,38,0,2.88,AU,1613195174
2,Nanchong,30.7951,106.0847,289.32,65,94,2.04,CN,1613195174
3,Constantine,36.3650,6.6147,284.15,71,75,5.66,DZ,1613195174
4,Jamestown,42.0970,-79.2353,263.71,79,1,3.09,US,1613195175